.wrapper {
  width: 640px;
  height: 800px;
  display: grid;
  grid-template-rows: 5% 65% 20% 10%;
}

.title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  /* background-color: rgba(81, 109, 99, 0.753); */
  background-image: linear-gradient(
    to right,
    rgba(20, 81, 109, 0.753),
    rgb(27, 121, 158)
  );
}

.center {
  justify-self: stretch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-fit {
  height: 100%;
  /* max-height: 100%; */
  margin: auto;
}

.description {
  text-align: center;
  font-size: 1em;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid $color-alpha;
  &:before,
  &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color-alpha;
    border: 2px solid $color-alpha;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
  .box-inner {
    position: relative;
    border: 2px solid $color-alpha;
    padding: 40px;
    &:before,
    &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-alpha;
      border: 2px solid $color-alpha;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
}
